body{
    background-color: pink;
}
.middle-section{
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%  
}
.main-button{
    margin-left: 20%;
    width: 500px;
    height: 50px;
    background-color: pink;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border-width: 2px;
    border-radius: 20px;
    cursor: pointer;
    
}

.yes-button,.no-button{
  
    width: 80px;
    height: 30px;
    border: none;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 23%;
    margin-top: 10%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    
    

}
.yes-button:hover,.no-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.yes-button{
    background-color: rgb(53, 211, 74);
}
.no-button{
    background-color: red;
}
.yes-button::after{
    width: 1000px;
}

/* GIF image styling */
.gif img{
    display: block;
    max-width: 240px;
    height: auto;
    margin: 0 auto 16px auto;
}